.document-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  padding-inline: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  @media (max-width: 920px) {
    padding-inline: 0;
  }
}
