@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font: inherit;
  transition: 0.5s;
  color: inherit;
}

ul li {
  list-style-type: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
}

body {
  font-family: "Fredoka", sans-serif;
  font-display: swap;
  font-size: 24px;
}

/* ================ stth ================ */

:root {
  --background-color-light-home: linear-gradient(
    90deg,
    rgba(50, 119, 210, 1) 0%,
    rgba(58, 140, 224, 1) 50%
  );
  --background-color-light-about: linear-gradient(
    90deg,
    rgba(58, 140, 224, 1) 0%,
    rgba(66, 162, 230, 1) 50%
  );
  --background-color-light-contacts: linear-gradient(
    90deg,
    rgba(66, 162, 230, 1) 0%,
    rgba(74, 184, 236, 1) 50%
  );
  --background-color-light-works: linear-gradient(
    90deg,
    rgba(74, 184, 236, 1) 0%,
    rgba(50, 119, 210, 1) 50%
  );

  --background-color-dark-home: linear-gradient(
    90deg,
    rgba(5, 5, 33, 1) 0%,
    rgba(7, 7, 46, 1) 50%
  );
  --background-color-dark-about: linear-gradient(
    90deg,
    rgba(7, 7, 46, 1) 0%,
    rgba(9, 9, 59, 1) 50%
  );
  --background-color-dark-contacts: linear-gradient(
    90deg,
    rgba(9, 9, 59, 1) 0%,
    rgba(11, 11, 72, 1) 50%
  );
  --background-color-dark-works: linear-gradient(
    90deg,
    rgba(11, 11, 72, 1) 0%,
    rgba(5, 5, 33, 1) 50%
  );

  --text-color-primary-dark: #c8c8c8;
  --text-color-secondary-dark: #4169e1;
  --text-color-base-dark: rgb(150, 150, 200);

  --text-color-primary-light: #f0f0f0;
  --text-color-secondary-light: #ffd700;
  --text-color-base-light: #003e73;
}

[data-theme="light"] {
  --background-color-home: var(--background-color-light-home);
  --background-color-about: var(--background-color-light-about);
  --background-color-contacts: var(--background-color-light-contacts);
  --background-color-works: var(--background-color-light-works);

  --text-color-primary: var(--text-color-primary-light);
  --text-color-secondary: var(--text-color-secondary-light);
  --text-color-base: var(--text-color-base-light);
}

[data-theme="dark"] {
  --background-color-home: var(--background-color-dark-home);
  --background-color-about: var(--background-color-dark-about);
  --background-color-contacts: var(--background-color-dark-contacts);
  --background-color-works: var(--background-color-dark-works);

  --text-color-primary: var(--text-color-primary-dark);
  --text-color-secondary: var(--text-color-secondary-dark);
  --text-color-base: var(--text-color-base-dark);
}

body {
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}
