.about {
  flex: 1;
  color: var(--text-color-primary);
  overflow: hidden;
  margin-bottom: 50px;
  user-select: none;
  @media (max-width: 920px) {
    padding: 0px 20px 0 20px;
    margin-bottom: 20px;
  }
  @media (orientation: landscape) and (max-width: 920px) {
    padding: 0px 40px 0px 40px;
  }
  .aboutTitleWrapper {
    margin-bottom: 50px;
    text-align: center;
    min-height: calc(100dvh - 145px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 20px;
    .aboutTitle {
      font-size: clamp(3rem, 2.423rem + 2.56vw, 5.5rem);
      color: var(--text-color-secondary);
      animation: bounce-in-top 1.1s both;
    }
    .aboutTitleText {
      font-size: clamp(1.5rem, 1.269rem + 0.9vw, 2.5rem);
      color: var(--text-color-base);
      text-shadow: 2px 2px 4px var(--text-color-base);
      animation: scale-in-hor-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    }
    .aboutTitleCountry {
      background: linear-gradient(to right, #d71a34, #0033a0, #ff9c00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: none;
    }
    .aboutTitleBtn {
      animation: bounce-in-bottom 1.1s both;
    }
  }

  /* ================ aboutInfo ================ */

  .aboutInfoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    width: 100%;
    margin-bottom: 70px;
    @media (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    .infoEducation,
    .infoLanguages {
      max-width: calc(50% - 10px);
      width: 100%;
      text-align: center;
      @media (max-width: 1025px) {
        max-width: 100%;
      }
    }
    .infoEducationTitle,
    .infoLanguagesTitle {
      color: var(--text-color-secondary);
      margin-bottom: 30px;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .infoIcon {
      height: 2rem;
      animation: upDown 3s infinite;
    }
    .educationItem,
    .languagesItem {
      font-size: 1.5rem;
      color: var(--text-color-primary);
    }
    .languagesItemColored {
      color: var(--text-color-base);
    }
    .coloredItemSpan {
      color: var(--text-color-base);
    }
    .flag {
      width: 1.5rem;
      margin-right: 10px;
    }
  }

  /* ================ aboutContent ================ */

  .aboutContentTitle {
    text-align: center;
    margin-bottom: 70px;
    font-size: 2rem;
    animation: vibrate-3 1.4s linear both;
  }
  .aboutContentWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding-bottom: 30px;
    @media (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    .aboutContentHard,
    .aboutContentSoft {
      max-width: calc(50% - 10px);
      width: 100%;
      text-align: center;
      padding-inline: 15px;
      @media (max-width: 1025px) {
        max-width: 100%;
      }
    }
    .aboutContentHardTitle,
    .aboutContentSoftTitle {
      color: var(--text-color-secondary);
      margin-bottom: 35px;
    }
    .aboutContentHardTitle {
      font-weight: 700;
    }
    .aboutContentSoftTitle {
      font-weight: 100;
    }
    .aboutContentHardList,
    .aboutContentSoftList {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .aboutContentHardItem,
    .aboutContentSoftItem {
      background: transparent;
      color: var(--text-color-base);
      font-size: 1em;
      padding: 10px;
      border-radius: 10px;
      transition: box-shadow 0.3s ease;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px -5px 10px var(--text-color-base);
      &:hover {
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3),
          inset -5px -5px 10px transparent;
      }
    }
    .aboutContentSoftItem {
      font-weight: 100;
    }
    .aboutContentHardItem {
      font-weight: 700;
    }
  }
}

#info {
  scroll-margin-top: 20px;
}

/* ================ ANIMATIONS ================ */

.left,
.right {
  opacity: 0;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.scrolledFromLeft {
  animation: bounce-in-left 1.4s ease;
  opacity: 1;
}
.scrolledFromRight {
  animation: bounce-in-right 1.4s ease;
  opacity: 1;
}

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media (max-width: 520px) {
  .coloredItemSpan {
    display: block;
  }
  .educationItem:first-of-type {
    margin-bottom: 15px;
  }
}

@media (max-width: 1062px) and (min-width: 1025px) {
  .coloredItemSpan {
    display: block;
  }
  .educationItem:first-of-type {
    margin-bottom: 15px;
  }
}
