.homeWrapper {
  height: 100%;
  flex: 1;
  font-size: clamp(1rem, 0.077rem + 4.1vw, 5rem);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 50px;
  @media (max-width: 920px) {
    width: 100%;
  }
}

.rightContent,
.leftContent {
  max-width: calc(50% - 30px);
}

.leftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  @media (max-width: 1025px) {
    max-width: 100%;
    padding: 20px 20px 0px 20px;
    min-height: 100%;
  }
  @media (orientation: landscape) and (max-width: 920px) {
    padding: 20px 40px 0px 40px;
  }
}
.contentTitle {
  font-size: clamp(3.5rem, 2.923rem + 2.56vw, 6rem);
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  background-image: url(../../assets/img/textBackgroung.png);
  background-size: 550px;
  background-repeat: repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(158, 145, 164);
  text-shadow: 2px 2px 4px rgba(231, 222, 222, 0.15);
  line-height: 1;
  user-select: none;
  animation: leftContent 1s ease-in-out forwards;
  @media (max-width: 920px) {
    [data-theme="dark"] & {
      -webkit-text-stroke-color: #133231;
    }
  }
}

.leftContentMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentText {
  width: 100%;
  padding: 0px;
  margin-top: 30px;
  font-size: clamp(1.9rem, 1.646rem + 1.13vw, 3rem);
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: wrap;
  color: var(--text-color-primary);
  line-height: 1.18;
  user-select: none;
  animation: leftContent 1s ease-in-out forwards;
  animation-delay: 0.25s;
  opacity: 0;
  min-height: 290px;
  @media (max-width: 920px) {
    [data-theme="dark"] & {
      color: #133231;
    }
  }
}

.hiText {
  font-size: clamp(2.5rem, 1.654rem + 1.54vw, 3.5rem);
  color: var(--text-color-secondary);
}

.hiTextName {
  color: var(--text-color-secondary);
  font-size: 1.1em;
}

.hireMeWrapper {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  animation: leftContent 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.hireMeText {
  font-size: clamp(1rem, 0.769rem + 1.03vw, 2rem);
  color: var(--text-color-base);
  user-select: none;
  @media (max-width: 1025px) {
    [data-theme="dark"] & {
      color: var(--text-color-primary);
    }
    [data-theme="light"] & {
      color: var(--text-color-primary);
    }
  }
}

.rightContent {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  @media (max-width: 1025px) {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: url("../../assets/img/home-bg.webp") center center/cover
      no-repeat;
    z-index: -1;
    border-radius: 0;
  }
  img {
    position: absolute;
    display: block;
    object-fit: cover;
    min-height: 100%;
    content: "";
    top: 50%;
    right: 0;
    transform: translate(0%, -30%);
    filter: brightness(0.8);
    @media (min-width: 1025px) {
      opacity: 0;
      animation: fadeIn 1s ease-in-out forwards;
    }
    @media (max-width: 1025px) {
      transform: translate(0%, -50%);
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0%, -50%);
  }
}

@keyframes leftContent {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
