.link {
  display: inline;
}

.button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.button:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
  position: relative;
  z-index: 25;
}

.type1::after {
  content: "Contacts";
  height: 50px;
  width: 150px;
  background-color: var(--text-color-base);
  color: var(--text-color-secondary);
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: 25;
}

.type1::before {
  content: "Hire Me";
  height: 50px;
  width: 150px;
  background-color: var(--text-color-secondary);
  color: var(--text-color-base);
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

[data-theme="dark"] .type1::before {
  color: var(--text-color-primary);
  background-color: var(--text-color-base);
}
[data-theme="dark"] .type1::after {
  color: var(--text-color-base);
  background-color: var(--text-color-primary);
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}
