.works {
  margin-bottom: 70px;
  @media (max-width: 1025px) {
    padding: 0px 20px 0px 20px;
  }
  @media (max-width: 920px) {
    margin-bottom: 50px;
  }
  .worksInfo {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 550px) {
      flex-direction: column;
      text-align: center;
    }
    .worksInfoTitle {
      user-select: none;
      font-size: clamp(3rem, 2.423rem + 2.56vw, 5.5rem);
      color: var(--text-color-secondary);
      opacity: 0;
      animation: slide-bottom 1s ease-in-out forwards;
    }
    .worksInfoText {
      user-select: none;
      color: var(--text-color-base);
      text-shadow: 2px 2px 4px var(--text-color-base);
      font-size: clamp(1.5rem, 1.269rem + 0.9vw, 2.5rem);
      opacity: 0;
      animation: slide-bottom 1s ease-in-out forwards;
    }
  }
  .worksQuote {
    user-select: none;
    font-size: clamp(1.4rem, 1.262rem + 0.62vw, 2rem);
    color: var(--text-color-primary);
    margin-bottom: 70px;
    text-align: center;
    opacity: 0;
    animation: slide-top 1s ease-in-out forwards;
  }
  .worksQuoteAuthor {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    .worksQuoteAuthorText {
      font-size: clamp(1.5rem, 1rem + 0.51vw, 2rem);
      color: var(--text-color-secondary);
    }
    .worksQuoteImg {
      height: 50px;
      animation: movingY 5s infinite;
    }
  }
  .websitePortfolio {
    max-width: min(95%, 1740px);
    margin: 0 auto;
    user-select: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 0;
    animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    @media (max-width: 1024px) {
      max-width: 100%;
    }
    .websitePortfolioText {
      color: var(--text-color-secondary);
      @media (max-width: 920px) {
        font-size: 0.8em;
      }
    }
    .websitePortfolioSkills {
      color: var(--text-color-base);
      @media (max-width: 920px) {
        font-size: 0.8em;
      }
    }
    .websitePortfolioEnd {
      margin-top: 30px;
      color: var(--text-color-primary);
      font-size: clamp(1.5rem, 1.338rem + 0.72vw, 2.2rem);
      animation: pulse 3s infinite;
    }
  }
}

@keyframes movingY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
